<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="container">
      <!-- <div class="page-header"></div> -->
      <!-- <div class="page-header" id="banner">
        <div class="row">
          <div class="col-xs-12">
            <h1>
              {{ page.title }}
              {% if page.paper %}
                <a target="_blank" style="color:#aaa; font-size:15px;" href="{{ page.arxiv }}">[paper]</a>
              {% endif %}
              {% if page.bibtex %}
                <a style="color:#aaa; font-size:15px;" href="#bibtex">[bibtex]</a>
              {% endif %}
            </h1>
            <p class="lead authors">{{ page.authors }}</p>
          </div>
        </div>
      </div> -->
      <div class="page-content">
          {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="{{ "/static/js/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/static/js/bootstrap.min.js" | prepend:site.baseurl }}"></script>

  </body>
</html>
